.list_lessons {
	padding-top: 80px;

	.container {
		padding-inline: 20px;
		.lesson {
			display: flex;
			justify-content: flex-start;
			gap: 15px;
			align-items: center;
			margin-bottom: 20px;

			.title_lesson_1 {
				text-decoration: none;
				color: #0000ff;
			}
			.img_arrow {
				color: #b4b2b2;
			}
			.title_lesson_2 {
				text-decoration: none;
				color: #b4b2b2;
			}
		}
		.title_lesson {
			margin-bottom: 20px;
		}
		.card {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			flex-wrap: wrap;
			background: #fff;
			border-radius: 8px;
			gap: 20px;
			padding-inline: 20px;
			padding-block: 20px;

			@media (max-width: 750px) {
				grid-template-columns: repeat(1, 1fr);
			}

			.cards {
				display: flex;
				justify-content: left;
				align-items: center;
				width: 100%;
				height: 70px;
				background: #dde9f9;
				border: 1px solid #d4d4d4;
				border-radius: 8px;
				font-weight: bold;
				font-size: 16px;
				cursor: pointer;

				.link {
					text-decoration: none;

					.card_item {
						color: #141414;
						margin-left: 15px;
					}
				}
			}
		}
		.pagination {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			background: #efeff6;

			padding-block: 20px;
			padding-inline: 30px;
			margin-top: 21px;
			position: sticky;
			bottom: 0;
			left: 0;

			@media (max-width: 1000px) {
				padding-bottom: 140px;
			}

			@media (max-width: 625px) {
				display: flex;
				flex-direction: column;
				gap: 8px;
			}

			.stack {
				@media (max-width: 625px) {
					display: flex;
					flex-direction: column;
				}
			}

			.callInput {
				display: flex;
				gap: 4px;
				align-items: center;

				input {
					width: 40px;
				}
			}
		}
	}
}
