.Section_announcement {
	overflow-y: auto;
	padding-inline: 20px;
	.main_container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.add_button_name {
			display: flex;
			flex-direction: column;
			padding-top: 20px;
			.course_button_modal {
				margin-bottom: 20px;
				display: grid;
				justify-content: flex-end;
				align-items: center;
				width: 100%;

				.button {
					display: flex;
					gap: 10px;
					justify-content: center;
					align-items: center;
					border-radius: 8px;
					text-transform: capitalize;
					.icon {
						width: 25px;
						height: 25px;
						display: flex;
						justify-content: center;
						align-items: center;
						svg {
						}
					}
					span {
						white-space: nowrap;
					}
					@media (max-width: 700px) {
						span {
							display: none;
						}
					}
				}
			}
		}

		.announce_box {
			width: 100%;
			.announce_card {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				place-items: center;
				gap: 20px;
	

				@media (max-width: 850px) {
					column-gap: 120px;
					row-gap: 40px;
					display: grid;
					grid-template-columns: repeat(1, 1fr);
					place-items: center;
				}
				.show_text {
					padding-bottom: 20px;
				}

				.announce_list {
					position: relative;
					width: 100%;
					max-width: 800px;
					min-height: 260px;
					background:#fff;
					font-size: 20px;
					box-shadow: 2px 2px 4px #80808066;
					margin-top: 30px;
					padding: 25px;
					border-radius: 15px;
					overflow-wrap: break-word;
					p {
						font-size: 16px;
						font-weight: 400;
					}

					.button {
						border: none;
						background: none;
						position: absolute;
						bottom: 20px;
						right: 20px;
					}
				}
			}
		}
	}
	@media (max-width: 1000px) {
		.announce_card {
			display: flex;
			justify-content: space-between;
			.announce_list {
				max-width: 370px;
				padding: 15px;
			}
		}

		@media (max-width: 779px) {
			.top_container {
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				gap: 20px;
			}
			.announce_card {
				.announce_list {
					max-width: 900px;
				}
			}

			@media (max-width: 490px) {
				.top_container {
					margin-left: 30px;
				}
				.announce_card {
					.announce_list {
						width: 500px;
						margin: 10px;
					}
				}
			}
		}
	}
}
.pagination {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background: #efeff6;
	padding-block: 20px;
	padding-inline: 30px;
	margin-top: 21px;
	position: sticky;
	bottom: 0;
	left: 0;

	@media (max-width: 1000px) {
		padding-bottom: 96px;
	}

	@media (max-width: 850px) {
		flex-direction: column;
	}

	@media (max-width: 625px) {
		gap: 8px;
	}

	.inputs {
		display: flex;
		gap: 5px;
		align-items: center;

		input {
			width: 40px;
		}

		.text {
			display: block;

			@media (max-width: 850px) {
				display: none;
			}
		}

		.pagination_element {
			display: none;

			@media (max-width: 850px) {
				display: block;
			}
		}
	}

	.stack {
		@media (max-width: 650px) {
			flex-direction: column;
		}
	}
}
