.mainDiv {
	width: 100%;
	.allContainer {
		width: 100%;
		.HeaderContainer {
			padding-top: 30px;
			padding-bottom: 40px;
			display: flex;
			justify-content: space-between;
			padding-inline: 30px;

			@media (max-width: 400px) {
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
			}
		}
		.TableContainer {
			width: 100%;
			flex-direction: column;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-inline: 30px;

			.TeacherContainer {
				background: #fff;
				min-height: 680px !important;
				width: 100%;
				border-radius: 20px;
				border: 1px solid rgb(219, 210, 210);
				scrollbar-width: thin;
				scrollbar-color: rgb(55, 114, 255) #fff;

				@media screen and (min-width: 1000px) and (max-width: 1240px) {
					max-width: 750px;
					overflow-x: scroll;
				}
				@media screen and (min-width: 320px) and (max-width: 980px) {
					max-width: 900px;
					width: 100%;
					overflow-x: scroll;
				}

				.Table {
					width: 100%;
					border-spacing: 0px;
					padding-left: 10px;

					thead {
						border-bottom: 1px solid #837a7a14;
						height: 50px;
						background: #fff;
						th {
							font-family: 'Open Sans', sans-serif;
							font-size: 14px;
							font-weight: 600;
							line-height: 19.07px;
							text-align: start;
							padding-left: 20px;
						}
					}
					tbody {
						.TableAlternateRow {
							background: #837a7a14;
						}

						.TableContainerSecond {
							height: 50px;
						}
						tr {
							.TableCell {
								padding-left: 20px;
							}

							.TableCellIcon {
								text-align: end;

								button {
									background: none;
									border: none;
								}
							}
						}
					}
				}
			}
		}

		.PaginationContainerParent {
			display: flex;
			justify-content: space-around;
			width: 90%;
			padding-top: 70px;

			@media (max-width: 1140px) {
				width: 100%;
				max-width: 1140px;
			}

			@media (max-width: 1000px) {
				padding-bottom: 120px;
			}

			.callInput {
				display: flex;
				gap: 10px;
				input {
					width: 40px;
					height: 20px;
				}
			}
		}
	}
}
