.List_lessons {
	margin: 24px 20px;
	.lesson {
		display: flex;
		justify-content: flex-start;
		gap: 15px;
		align-items: center;

		.title_lesson_1 {
			text-decoration: none;
			color: blue;
		}
		.img_arrow {
			color: #b4b2b2;
		}
		.title_lesson_2 {
			text-decoration: none;
			color: #b4b2b2;
		}
	}
	.title_lesson {
		margin: 16px 0 24px;
	}
	.card_lesson {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		background-color: #fff;
		border-radius: 8px;
		padding: 20px;

		.card_container {
			display: flex;
			justify-content: left;
			align-items: center;
			width: 530px;
			height: 70px;
			background-color: #dde9f9;
			border: 1px solid #d4d4d4;
			border-radius: 8px;
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 20px;

			.card_link {
				text-decoration: none;

				.card_item {
					color: #141414;
					margin-left: 15px;
				}
			}
		}
	}
}
