// ! new

.subHeaderCourses {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	cursor: pointer;

	.tabs {
		:global {
			.MuiTabs-indicator .css-1aquho2-MuiTabs-indicator {
				padding-bottom: 100px;
			}

			.css-jpln7h-MuiTabs-scroller {
				overflow: inherit !important;
			}
			.css-1ujnqem-MuiTabs-root {
				overflow: inherit !important;
			}
			.css-1aquho2-MuiTabs-indicator {
				position: absolute !important;
				top: 120% !important;
			}
		}
	}
}

.header {
	width: 100%;
	border-bottom: 1px solid #d0d0d0;
	position: sticky;
	top: 0;
	z-index: 50;
	background: #eff0f4;
	padding-inline: 20px;
	padding-bottom: 20px;
	cursor: pointer;

	.profile {
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.instructor_elements {
		font-size: 18px;
		font-weight: 500;
		cursor: pointer;
	}

	.instructor_profile {
		font-size: 18px;
		font-weight: 500;
		cursor: pointer;
	}

	.photo_profile {
		cursor: pointer;
	}
}

.subHeaderCourses2 {
	cursor: pointer;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.tabs {
		:global {
			.MuiTabs-indicator .css-1aquho2-MuiTabs-indicator {
				padding-bottom: 100px;
			}

			.css-jpln7h-MuiTabs-scroller {
				overflow: inherit !important;
			}
			.css-1ujnqem-MuiTabs-root {
				overflow: inherit !important;
			}
			.css-1aquho2-MuiTabs-indicator {
				position: absolute !important;
				top: 120% !important;
			}
		}
	}
}

.header {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #d0d0d0;
	position: sticky;
	top: 0;
	z-index: 50;
	background: #eff0f4;
	cursor: pointer;

	.header_elements {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-block: 23px;
		// padding-bottom: 30px;
		// padding-inline: 30px;
		gap: 14px;

		p {
			font-size: 18px;
			font-weight: 400;
		}
		.profile_text {
			@media (max-width: 600px) {
				display: none;
			}
		}

		.profile {
			width: 30px;
			height: 30px;
			cursor: pointer;
		}
	}
}
// :global {
// 	.MuiTabs-indicator .css-1aquho2-MuiTabs-indicator {
// 		padding-bottom: 100px;
// 	}

// 	.css-jpln7h-MuiTabs-scroller {
// 		overflow: inherit !important;
// 	}
// 	.css-1ujnqem-MuiTabs-root {
// 		overflow: inherit !important;
// 	}
// 	.css-1aquho2-MuiTabs-indicator {
// 		position: absolute !important;
// 		top: 120% !important;
// 	}
// }
