// .scrollbar {
// 	&,
// 	&:hover {
// 		background-color: light-dark(#fff, #fff);
// 	}

// 	&[data-orientation='vertical'] .thumb {
// 		background-color: #fff;
// 	}

// 	&[data-orientation='horizontal'] .thumb {
// 		background-color: #fff;
// 	}
// }

.lesson {
	padding-top: 80px;
	padding-inline: 20px;
	width: 100%;

	h1 {
		margin-bottom: 20px;
		width: 100%;
	}
	.container {
		width: 100%;
		.content {
			.tab {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 8px;
			}
		}
	}

	:global {
		.MuiTabs-flexContainer {
			display: flex;
			gap: 25px;
		}
	}
}
