.mainDiv {
	.allContainer {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.test {
			.HeaderContainer {
				padding-top: 30px;
				padding-bottom: 40px;
				display: flex;
				align-items: center;
				padding-inline: 40px;
				gap: 10px;

				.addTeacherButton {
					width: 100%;
					display: flex;
					justify-content: flex-end;
					align-items: center;
				}
			}

			.TableContainer {
				width: 100%;
				flex-direction: column;
				display: flex;
				align-items: center;
				justify-content: center;
				padding-inline: 30px;

				.TeacherContainer {
					overflow-y: scroll !important;
					scrollbar-width: thin;
					scrollbar-color: #808080 #fff;
					width: 100%;
					height: 680px;
					display: flex;
					flex-wrap: nowrap;
					background: #fff;
					border: 1px solid #dbd2d2;
					border-radius: 20px;
					transition: all 0.2s ease-in-out;

					@media screen and (min-width: 1100px) and (max-width: 1160px) {
						max-width: 830px;
						display: flex;
						flex-wrap: nowrap;
						overflow: auto;
					}
					@media screen and (min-width: 1060px) and (max-width: 1100px) {
						max-width: 760px;
						display: flex;
						flex-wrap: nowrap;
						overflow: auto;
					}

					@media screen and (min-width: 1000px) and (max-width: 1060px) {
						max-width: 730px;
						display: flex;
						flex-wrap: nowrap;
						overflow: auto;
					}

					.Table {
						width: 100%;
						border-spacing: 0px;
						padding-left: 10px;
						flex: 0 0 auto;

						thead {
							border-bottom: 1px solid #837a7a14;
							height: 50px;
							background: #fff;

							th {
								font-family: 'Open Sans', sans-serif;
								font-size: 14px;
								font-weight: 600;
								line-height: 19.07px;
								text-align: start;
								padding-left: 20px;
							}
						}
						tbody {
							.TableAlternateRow {
								background: #837a7a14;
							}

							.TableContainerSecond {
								height: 50px;
							}
							tr {
								.TableCell {
									padding-left: 20px;
								}

								.TableCellIcon {
									text-align: end;

									button {
										background: none;
										border: none;
									}
								}
							}
						}
					}
				}
			}
		}
		.PaginationContainer {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			background: #efeff6;
			padding-block: 20px;
			padding-inline: 30px;
			margin-top: 74px;
			position: sticky;
			bottom: 0;
			left: 0;

			.callInput {
				display: flex;
				gap: 5px;
				align-items: center;

				input {
					width: 40px;
				}
			}

			@media (max-width: 1000px) {
				padding-bottom: 140px;
			}
		}
	}
}
