.main_part {
	padding-inline: 20px;
}
.main_part .acceped {
	overflow-y: scroll;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	flex-wrap: wrap;
	background-color: #fff;
	border-radius: 8px;
	gap: 20px;
	padding-block: 10px;
}
@media (max-width: 750px) {
	.main_part .acceped {
		grid-template-columns: repeat(1, 1fr);
	}
}
.main_part .acceped .card_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	background-color: #dde9f9;
	border: 1px solid #d4d4d4;
	border-radius: 8px;
	font-weight: bold;
	font-size: 16px;
	padding-inline: 15px;
}
.main_part .acceped .card_container .card_link {
	text-decoration: none;
	width: 80%;
}
.main_part .acceped .card_container .card_link .card_item {
	color: #141414;
	margin-left: 15px;
}
.main_part .acceped .card_container .button button {
	background: none;
	border: none;
}
