.mainNot {
	padding-left: 20px;
	padding-top: 40px;
	h2 {
		color: rgb(41, 41, 41);
	}
}

.not_created {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	gap: 60px;
	.img {
		img {
			width: 100%;
			max-width: 316px;
			height: 249px;
		}
	}
}
