.lesson {
	padding-top: 20px;
	padding-inline: 20px;
	width: 100%;

	h1 {
		margin-bottom: 24px;
		width: 100%;
		position: sticky;
		z-index: 50;
		top: 80px;
		background: #eff0f4;
	}
	.container {
		width: 100%;
		.content {
			.tab {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 8px;
			}
		}
	}

	:global {
		.MuiTabs-flexContainer {
			display: flex;
			gap: 25px;
		}
	}
}
