.lesson {
	padding-top: 20px;
	padding-inline: 20px;

	h1 {
		margin-bottom: 20px;
		padding-inline: 20px;
		width: 100%;
	}

	.button {
		display: flex;
		gap: 10px;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		text-transform: capitalize;
		.icon {
			width: 25px;
			height: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		span {
			white-space: nowrap;
		}
		@media (max-width: 700px) {
			span {
				display: none;
			}
		}
	}

	.content {
		padding-inline: 20px;
		border-bottom: 1px solid #e7e7e7;

		.tab {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
		}
	}
}

:global {
	.MuiTabs-flexContainer {
		display: flex;
		gap: 25px;
	}
}
