.card {
	padding-inline: 20px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-around;
	background-color: #fff;
	border-radius: 8px;
	padding-block: 10px;
  gap: 20px;

	@media (max-width: 750px) {
		grid-template-columns: repeat(1, 1fr);
	}

	.cards {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 70px;
		background-color: #dde9f9;
		border: 1px solid #d4d4d4;
		border-radius: 8px;
		font-weight: bold;
		font-size: 16px;
		padding-inline: 15px;
	}
}

.title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.text {
		a {
			font-weight: 600;
			font-size: 20px;
			color: blue;
			background-color: none;
		}
	}
}
