.calendarWrapper {
	margin-top: 47px;

	@media (max-width: 1000px) {
		margin-bottom: 120px;
	}
	:global {
		.fc {
			.fc-button {
				background-color: blue;
				color: white;
				border: 1px solid transparent;
				padding: 0.375rem 0.75rem;
				font-size: 1rem;
				line-height: 1.5;
				border-radius: 0.25rem;
				transition:
					color 0.15s ease-in-out,
					background-color 0.15s ease-in-out,
					border-color 0.15s ease-in-out,
					box-shadow 0.15s ease-in-out;

				&:hover {
					background: #3c3c8e;
					border-color: blue;
				}

				&:focus {
					box-shadow: 0 0 0 0.2re white;
				}
			}

			.fc-button-active {
				background: #004085;
				border-color: #002752;
			}

			.fc-today-button {
				background: blue;
				color: #ffffff;
				&:hover {
					background: #0056b3;
				}
			}

			.fc-prev-button,
			.fc-next-button {
				background: #28a745;
				color: #ffffff;
				&:hover {
					background: green;
				}

				@media (max-width: 365px) {
					width: 100%;
					position: relative;
					right: 15px;
				}
			}
		}
	}
}
