@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.Card {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	gap: 60px;

	.firstBlockContainer {
		width: 270px;
		height: 311px;
		font-family: 'Open Sans', sans-serif;
		border: 1px solid #d4d4d4;
		border-radius: 10px;
		background: #ffffff;

		.BlockImage {
			width: 270px;
			height: 171px;
			border-radius: 10px 10px 0px 0px;
		}

		.BlockText {
			width: 180px;
			height: 70px;
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 22px;
			padding: 0px 0px 0px 10px;
			display: flex;
			overflow: hidden;
		}
		.BlockButtonDiv {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-top: 15px;

			.BlockButton {
				border: none;
				background-color: transparent;
				color: #343a40;
				font-weight: 900;
				font-size: 30px;
				padding-right: 14px;
				position: relative;
				bottom: 30px;
			}
		}

		.zeroBlockContainer {
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 0px 5px 0px 10px;

			.secondBlockContainer {
				height: 30px;
				display: flex;
				gap: 30px;
				font-family: 'Open Sans', sans-serif;
				align-items: center;

				.BlockDate {
					font-family: 'Open Sans', sans-serif;
					font-size: 12px;
					font-weight: 400;
					line-height: 16.81px;
				}

				.BlockTitle {
					font-size: 18px;
					font-weight: 600;
					line-height: 24.51px;
					font-family: 'Open Sans', sans-serif;
					padding: 0px 5px 0px 10px;
				}
			}
			.text_card {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.BlockDotts {
					display: flex;
					align-items: flex-end;
					text-align: center;
				}
			}
		}
	}
}
