@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.StudentParentContainer {
	// width: 100%;
	.allContainer {
		.TitleStudent {
			width: 100%;
			display: flex;
			padding: 0px 2px 0px 20px;
			margin-top: 3px;
		}
		.sectionLogics {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			width: 100%;
			padding: 0px 2px 0px 20px;
			margin-top: 14px;
			padding-inline: 20px;

			@media (max-width: 1600px) {
				display: flex;
				flex-direction: column;
			}

			.Parent_second_btn {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				max-width: 510px;
				width: 100%;
				padding-right: 30px;

				@media (max-width: 797px) {
					display: flex;
					flex-direction: column;
					width: 100%;
					max-width: 360px;
					justify-content: center !important;
					align-items: center !important;
				}

				.Button_UI {
					width: 100%;
					height: auto !important;
				}

				:global {
					.MuiButtonBase-root {
						max-width: 360px !important;
						width: 100% !important ;
					}
					.MuiButton-outlinedPrimary {
						max-width: 360px !important;
						width: 100% !important ;
					}
				}

				.ExelButton {
					display: flex;
					gap: 10px;
					width: 100%;
					height: auto !important;
					padding: 10px 24px 10px 16px;
					border-radius: 8px;
				}
			}

			.inputWithIcon {
				position: relative;
				display: flex;
				align-items: center;
				width: 100%;
				input {
					width: 100%;
					@media screen and (min-width: 1000px) and (max-width: 1200px) {
						max-width: 540px;
					}
				}
				@media (max-width: 320px) {
					width: 260px;
					margin-right: 27px;
				}
				.buttons {
					position: absolute;
					top: 50%;
					right: 15px;
					transform: translateY(-50%);

					display: flex;
					justify-content: center;
					align-items: center;

					.button {
						padding: 5px;
						display: flex;
						justify-content: center;
						align-items: center;

						border: none;
						outline: none;
						background: transparent;
						border-radius: 4px;

						cursor: pointer;
						&:hover {
							background: #dcdcdc;
						}
					}
				}
			}
		}

		.StudentContainer {
			min-height: 680px !important;
			border-radius: 10px;
			background: #ffffff;
			border: 1px solid #d4d4d4;
			margin: 24px 40px 77px 20px;
			overflow-x: auto;
			white-space: nowrap;
			scrollbar-width: thin;
			scrollbar-color: rgb(55, 114, 255) #fff;
			@media screen and (min-width: 1000px) and (max-width: 1280px) {
				max-width: 840px;
				overflow-x: scroll;
			}
			@media screen and (min-width: 320px) and (max-width: 980px) {
				max-width: 760px;
				width: 100%;
				overflow-x: scroll;
			}

			.Table {
				width: 100%;
				border-spacing: 0px;
				padding-left: 10px;

				thead {
					border-bottom: 1px solid #837a7a14;
					height: 50px;
					background: #fff;
					th {
						font-family: 'Open Sans', sans-serif;
						font-size: 14px;
						font-weight: 600;
						line-height: 19.07px;
						text-align: start;
						padding-left: 20px;
					}
				}
				tbody {
					.TableAlternateRow {
						background: #837a7a14;
					}

					.StudentContainerSecond {
						height: 50px;
					}

					.TableContainerSecond {
						height: 50px;
					}
					tr {
						td {
							padding-left: 20px;
						}

						.TableCellIcon {
							text-align: end;

							button {
								background: none;
								border: none;
							}
						}
					}
				}
			}
		}

		.PaginationContainerParent {
			display: flex;
			justify-content: space-around;
			align-items: center;

			@media (max-width: 1140px) {
				width: 100%;
				max-width: 1140px;
			}

			@media (max-width: 1000px) {
				padding-bottom: 160px;
			}

			.Inputs {
				display: flex;
				gap: 20px;
				input {
					width: 40px;
					text-align: center;
				}
			}
		}
	}
}
.changeClass {
	color: #ff0000;
}
