@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.StudentParentContainer {
	.allContainer {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.test {
			.TitleStudent {
				width: 100%;
				display: flex;
				padding: 0px 2px 0px 20px;
				margin-top: 3px;
				padding-block: 20px;
			}
			.sectionLogics {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 10px;
				width: 100%;
				padding: 0px 2px 0px 20px;
				margin-top: 14px;
				padding-inline: 20px;

				@media (max-width: 1600px) {
					display: flex;
					flex-direction: column;
				}

				.Parent_second_btn {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;
					max-width: 510px;
					width: 100%;
					padding-right: 30px;

					@media (max-width: 797px) {
						display: flex;
						flex-direction: column;
						width: 100%;
						max-width: 360px;
						justify-content: center !important;
						align-items: center !important;
					}

					.Button_UI {
						width: 100%;
						height: auto !important;
					}

					:global {
						.MuiButtonBase-root {
							max-width: 360px !important;
							width: 100% !important ;
						}
						.MuiButton-outlinedPrimary {
							max-width: 360px !important;
							width: 100% !important ;
						}
					}

					.ExelButton {
						display: flex;
						gap: 10px;
						width: 100%;
						height: auto !important;
						padding: 10px 24px 10px 16px;
						border-radius: 8px;
					}
				}

				.inputWithIcon {
					position: relative;
					display: flex;
					align-items: center;
					width: 100%;
					input {
						width: 100%;
						@media screen and (min-width: 1000px) and (max-width: 1200px) {
							max-width: 540px;
						}
						@media screen and (min-width: 1200px) and (max-width: 1310px) {
							max-width: 200px !important;
							display: flex;
							flex-wrap: nowrap;
							overflow: auto;
						}
					}
					@media (max-width: 320px) {
						width: 260px;
						margin-right: 27px;
					}
					.buttons {
						position: absolute;
						top: 50%;
						right: 15px;
						transform: translateY(-50%);

						display: flex;
						justify-content: center;
						align-items: center;

						.button {
							padding: 5px;
							display: flex;
							justify-content: center;
							align-items: center;

							border: none;
							outline: none;
							background: transparent;
							border-radius: 4px;

							cursor: pointer;
							&:hover {
								background: #dcdcdc;
							}
						}
					}
				}
			}

			.StudentContainer {
				border-radius: 20px !important;
				overflow-x: auto;
				overflow-y: scroll !important;
				height: 680px;
				width: 95%;
				background: #fff;
				transition: all 0.5s e;
				border: 1px solid #dbd2d2;
				scrollbar-width: thin;
				scrollbar-color: gray #fff;

				@media screen and (min-width: 1100px) and (max-width: 1170px) {
					width: 100%;
					max-width: 870px;
				}
				@media screen and (min-width: 1070px) and (max-width: 1100px) {
					width: 100%;
					max-width: 830px;
				}
				@media screen and (min-width: 1000px) and (max-width: 1070px) {
					width: 100%;
					max-width: 780px;
				}
				.Table {
					border-collapse: collapse;
					width: 100%;
					thead {
						border-bottom: 1px solid #837a7a14;
						height: 50px;
						background: #fff;
						th {
							font-family: 'Open Sans', sans-serif;
							font-size: 14px;
							font-weight: 600;
							line-height: 19.07px;
							text-align: start;
							padding-left: 20px;
							flex-wrap: nowrap;
						}
					}
					tbody {
						.TableAlternateRow {
							background: #837a7a14;
						}

						.StudentContainerSecond {
							height: 50px;
						}

						.TableContainerSecond {
							height: 50px;
						}
						tr {
							td {
								padding-left: 20px;
							}

							.TableCellIcon {
								text-align: end;

								button {
									background: none;
									border: none;
								}
							}
						}
					}
				}
			}
		}
		.PaginationContainerParent {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			background: #efeff6;
			padding-block: 20px;
			padding-inline: 30px;
			margin-top: 21px;
			position: sticky;
			bottom: 0;
			left: 0;

			.Inputs {
				display: flex;
				gap: 5px;
				align-items: center;

				input {
					width: 40px;
				}
			}

			@media (max-width: 1000px) {
				padding-bottom: 140px;
			}
		}
	}
}
.changeClass {
	color: #ff0000;
}
