.trash_parent {
	.container {
		padding: 20px;

		h1 {
			padding-top: 60px;
			padding-bottom: 20px;
		}
		.table_container {
			background: #fff;
			border: 1px solid #d4d4d4;
			border-radius: 10px;

			.trash {
				overflow-x: auto;
				white-space: nowrap;
				scrollbar-width: thin;
				overflow-y: auto !important;
				scrollbar-color: #3772ff #fff;
				@media screen and (min-width: 480px) and (max-width: 520px) {
					max-width: 470px;
					width: 100%;
					overflow-x: scroll;
				}
				@media screen and (min-width: 360px) and (max-width: 420px) {
					max-width: 360px;
					width: 100%;
					overflow-x: scroll;
				}
			}
		}

		.text {
			width: 100%;
			border-bottom: 1px solid #3a373714;
			p {
				background: #ffa500;
				width: 50%;
				height: 50px;
				margin-top: 20px;
				margin: 10px auto;
				border-radius: 10px;
				color: #fff;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;

				@media (max-width: 800px) {
					background: #ffa500;
					width: 80%;
				}

				@media (max-width: 755px) {
					background: #ffa500;
					width: 70%;
				}

				@media (max-width: 673px) {
					background: #ffa500;
					width: 70%;
				}

				@media (max-width: 583px) {
					background: #ffa500;
					width: 90%;
				}
				@media (max-width: 462px) {
					background: #ffa500;
					width: 90%;
					height: 80px;
				}
				@media (max-width: 340px) {
					background: #ffa500;
					width: 90%;
					height: 80px;
				}
			}
		}

		@media only screen and (max-width: 550px) {
			.table_automatically_deleted {
				height: 86px;
				width: 240px;
			}
		}

		.table {
			width: 100%;
			border-collapse: collapse;

			thead {
				width: 100%;
				height: 50px;
				border-bottom: 1px solid #3a373714;
				th {
					font-size: 16px;
					font-weight: 600;
					text-align: start;
					padding-left: 20px;
				}
				.last_th {
					text-align: end;
					padding-right: 50px;
				}
				.date {
					text-align: end;
					padding-right: 40px;
				}
			}
		}

		.table_alternate_row {
			background: #1a237e12;
			.tbody {
				width: 100%;
			}
		}

		.table_container_second {
			height: 50px;

			.tbody {
				width: 100%;
				text-align: end;
			}
			.TableCell_main {
				padding-left: 20px;
			}
		}

		.pagination {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			background: #efeff6;
			padding-block: 20px;
			padding-inline: 30px;
			margin-top: 21px;
			position: sticky;
			bottom: 0;
			left: 0;

			@media (max-width: 1000px) {
				padding-bottom: 96px;
			}

			@media (max-width: 850px) {
				flex-direction: column;
			}

			@media (max-width: 625px) {
				gap: 8px;
			}

			.Inputs {
				display: flex;
				gap: 5px;
				align-items: center;

				input {
					width: 40px;
				}

				.text {
					display: block;

					@media (max-width: 850px) {
						display: none;
					}
				}

				.pagination_element {
					display: none;

					@media (max-width: 850px) {
						display: block;
					}
				}
			}

			.stack {
				@media (max-width: 650px) {
					flex-direction: column;
				}
			}
		}
	}
}
