.get_task {
	padding-inline: 20px;
	width: 100%;
	padding-bottom: 300px;

	h1 {
		margin-bottom: 20px;
		width: 100%;
	}
	.Task {
		display: flex;
		flex-direction: column;
		gap: 16px;
		height: 70vh;
		background: #fff;
		border-radius: 10px;
		overflow-y: scroll;
		.comment {
			padding-inline: 20px;
			display: flex;
			flex-direction: column;
			gap: 24px;

			.saveInput_button {
				display: flex;
				gap: 12px;
			}
		}
		.card {
			padding-inline: 20px;
			img {
				width: 100%;
				max-width: 600px;
				height: auto;
			}
			p {
				font-size: 18px;
			}
			.text {
				padding: 10px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				@media (max-width: 490px) {
					flex-wrap: wrap;
				}
			}
		}
	}
}
// :global {
// 	.quill {
// 		display: flex !important;
// 		width: 100% !important;
// 		justify-content: space-between !important;
// 		flex-direction: row-reverse !important;

// 		.ql-container {
// 			width: 100% !important;
// 			max-width: 1400px !important;
// 			border-radius: 14px !important;

// 			.ql-editor {
// 				border: 1px solid #b8acac !important;
// 				border-radius: 14px !important;
// 				width: 100% !important;
// 				max-width: 1200px !important;
// 			}
// 		}

// 		.ql-toolbar {
// 			border-radius: 14px !important;
// 			border: none !important;
// 			width: 100% !important;
// 			max-width: 920px !important;

// 			.ql-link {
// 				width: 35px;
// 				height: 35px;
// 			}
// 			.ql-image {
// 				width: 35px;
// 				height: 35px;
// 			}
// 			.ql-code-block {
// 				width: 35px;
// 				height: 35px;
// 			}

// 			.ql-toolbar .ql-snow {
// 				display: flex;
// 				justify-content: flex-end;
// 				align-items: flex-end;
// 			}
// 		}
// 	}
// }
